{% extends "encyclopedia/layout.html" %}

<!-- TODO -->
<!-- Make it so it has the entry here-->
{% block title %}
    Create
{% endblock %}

{% block body %}

<h1>Create</h1>

<form action="{% url 'createEntry' %}" method="POST">
    {% csrf_token %}

    <h4>Entry Title</h4>
    <div class="fieldWrapper">
        {{ form.title.errors }}
        {{ form.title }}
    </div>

    <h4>Entry Contents</h4>
    <div class="fieldWrapper">
        {{ form.contents.errors }}
        {{ form.contents }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}