{% extends "encyclopedia/layout.html" %}

<!-- TODO -->
<!-- Make it so it has the entry here-->
{% block title %}
Edit - {{ title }}
{% endblock %}

{% block body %}

<h1>Edit {{ entry }}</h1>

<!--TODO Prepopulate with contents and entry title-->
<!-- Upon submission, make a POST to same route and edit entry contents on backend -->
<form class="mr-5" action="{% url 'editEntry' entry %}" method="POST">
    <!-- Token to prevent CSRF-->
    {% csrf_token %}
    <h4>Entry Title</h4>
    <div class="form-group">
        <input type="text" class="form-control" id="title" value="{{ title }}">
    </div>
    <h4>Entry Contents</h4>
    <div class="form-group">
        <textarea class="form-control" id="contentTextArea" rows="10">{{ contents }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}